html, body {
    height: 100%;
    margin: 0;
}
    

html {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  /* default fonts for body */
  
  body {
    font-family: 'lato', sans-serif;
  }
  
  /* custom fonts (lato) */
  
  .lato {
    font-family: 'lato';
  }
  
  body {
    /* background-image: url('../image/pic1.jpg');
      background: linear-gradient(135deg, #322c3a 20%, #211C27);
      background-repeat: no-repeat;
      background-size: cover; */
    /* Other styles for the container */
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: linear-gradient(-45deg, #453c50, #211C27, #080710);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding-bottom: 50px !important;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
.container{
    width: 600px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 45px 35px;
}
form *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
form h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 70px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 25px;
    font-weight: 500;
    justify-content: center;
    text-align: center;
}
::placeholder{
    color: #e5e5e5;
    font-size: 17px;
    font-weight: 300;
}
button{
    margin-top: 10px;
    width: 100%;
    background-color: #c0c6ff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #8793ff;
    color: white
  }
  
form a {
    color: #8793ff;
}
  
.form-group input, .form-group select, .form-group textarea, input {
  border-radius: 0;
  background: linear-gradient(#00000000, #fffdfd27);
  border-image-slice: 1;

  border-image-source: linear-gradient(to left, #00000000, #D9D9D9, #00000000);
  border-width: 1px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;

  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.form-control:focus, input:focus {
  background: linear-gradient(#00000000, #fffdfd27);
  outline: 0px none #fff !important;

}

a:hover {
  color: #d146ff;
  background-color: transparent;
  text-decoration: underline;
}
  
input:focus::placeholder {
    color: transparent;
  }